In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect("C:\python+sql\Students.db")
crs = conn.cursor()

In [5]:
# 1 Напишите запрос для подсчета количества студентов, сдававших экзамен по предмету обучения с идентификатором 73.

s = """
SELECT count(STUDENT_ID) FROM EXAM_MARKS WHERE MARK IS NOT NULL AND SUBJ_ID = 73;
"""
crs.execute(s).fetchall()

[(4,)]

In [9]:
# 2. Напишите запрос, который позволяет подсчитать в таблице EXAM_MARKS количество различных предметов обучения.

s = """
SELECT count(distinct subj_id) AS Number
    FROM exam_marks
"""
crs.execute(s).fetchall()

[(9,)]

In [11]:
# 3. Напишите запрос, который для каждого студента выполняет выборку его идентификатора
#    и минимальной из полученных им оценок.

s = '''
SELECT student_id, min(mark) as "Min_mark"
    from 'exam_marks'
    group by student_id;
'''
print(crs.execute(s).fetchall())

[(1, 1), (6, 4), (10, 5), (12, 2), (15, 5), (32, 4), (55, 5), (62, 4), (64, 4), (65, 1), (71, 3), (73, 1), (76, 2), (77, 1), (79, 1), (82, 5), (83, 1), (85, 1), (88, 5), (90, 4), (91, 5), (92, 5), (97, 1), (99, 5), (101, 2), (103, 2), (105, 3), (110, 1), (116, 1), (117, 4), (123, 2), (126, 1), (128, 3), (149, 2), (203, 3)]

In [6]:
# 4. Напишите запрос, который для каждого студента выполняет выборку его идентификатора 
#    и максимальной из полученных им оценок.

s = """
SELECT student_id, MAX(mark)
FROM exam_marks
GROUP BY student_id
"""
print(crs.execute(s).fetchall())

[(1, 1), (6, 4), (10, 5), (12, 5), (15, 5), (32, 4), (55, 5), (62, 4), (64, 4), (65, 1), (71, 3), (73, 1), (76, 2), (77, 1), (79, 1), (82, 5), (83, 1), (85, 4), (88, 5), (90, 4), (91, 5), (92, 5), (97, 1), (99, 5), (101, 2), (103, 2), (105, 3), (110, 1), (116, 1), (117, 4), (123, 2), (126, 1), (128, 5), (149, 2), (203, 3)]

In [7]:
# 5. Напишите запрос, выполняющий вывод первой по алфавиту фамилии студента, начинающейся на букву "И"

s = '''
select surname
from student
where surname like 'И%' order by surname limit 1;
'''
crs.execute(s).fetchall()

[('Иванов',)]

In [8]:
'''6. Напишите запрос, который для каждого предмета обучения выводит наименование предмета 
и максимальное значение номера семестра, в котором этот предмет преподается.'''

s = """
SELECT subj_name, max(semester)
    FROM subject
    GROUP by subj_name
"""
crs.execute(s).fetchall()

[('Анализ данных', 1),
 ('Английский язык', 3),
 ('Информатика', 1),
 ('История', 4),
 ('Математика', 2),
 ('ОБЖ', 2),
 ('Обработка данных и моделирование в Excel', 3),
 ('Программирование на языках Python и SQL', 2),
 ('Теория вероятностей и математическая статистика', 4),
 ('Физика', 1),
 ('Физкультура', 5)]

In [9]:
#7. Напишите запрос, который для каждого конкретного дня сдачи экзамена 
# выводит данные о количестве студентов, сдававших экзамен в этот день.

s = 'select date(exam_date), count(student_id) from exam_marks group by date(exam_date)'
crs.execute(s).fetchall()

[('2000-01-18', 1),
 ('2000-01-23', 2),
 ('2006-05-12', 1),
 ('2006-06-17', 1),
 ('2019-05-26', 1),
 ('2019-05-29', 9),
 ('2019-09-02', 1),
 ('2019-12-25', 1),
 ('2019-12-31', 1),
 ('2020-02-10', 1),
 ('2020-02-21', 3),
 ('2020-02-22', 1),
 ('2020-05-26', 7),
 ('2020-05-27', 2),
 ('2020-08-18', 1),
 ('2020-09-21', 1),
 ('2020-10-24', 1),
 ('2020-12-03', 1),
 ('2021-06-02', 5)]

In [10]:
# 8. Напишите запрос, выдающий средний балл для каждого студента.

s = """
SELECT STUDENT_ID, AVG(MARK) AS "Средний балл"
FROM EXAM_MARKS
GROUP BY STUDENT_ID
"""
result=crs.execute(s).fetchall()
print(len(result))
result

35

[(1, 1.0),
 (6, 4.0),
 (10, 5.0),
 (12, 3.5),
 (15, 5.0),
 (32, 4.0),
 (55, 5.0),
 (62, 4.0),
 (64, 4.0),
 (65, 1.0),
 (71, 3.0),
 (73, 1.0),
 (76, 2.0),
 (77, 1.0),
 (79, 1.0),
 (82, 5.0),
 (83, 1.0),
 (85, 2.5),
 (88, 5.0),
 (90, 4.0),
 (91, 5.0),
 (92, 5.0),
 (97, 1.0),
 (99, 5.0),
 (101, 2.0),
 (103, 2.0),
 (105, 3.0),
 (110, 1.0),
 (116, 1.0),
 (117, 4.0),
 (123, 2.0),
 (126, 1.0),
 (128, 4.0),
 (149, 2.0),
 (203, 3.0)]

In [11]:
# 9 Напишите запрос, выдающий средний балл для экзамена по каждому предмету.

s = """
SELECT subj_id, AVG(mark)
FROM exam_marks
GROUP BY subj_id;
"""
result=crs.execute(s).fetchall()
print(len(result))
result

9

[(10, 3.6666666666666665),
 (11, 1.0),
 (12, 2.0),
 (13, 2.5),
 (22, 2.8333333333333335),
 (43, 2.0),
 (56, 3.1666666666666665),
 (73, 3.0),
 (94, 3.6666666666666665)]

In [12]:
# 10. Напишите запрос, определяющий количество сдавших студентов для каждого предмета (оценка больше двух).

s = """
SELECT subj_id, count(distinct(student_id)) as "Amount_of_students"
    FROM exam_marks
    where mark > 2
    group by subj_id;
"""
result=crs.execute(s).fetchall()
print(len(result))
result

8

[(10, 7), (12, 1), (13, 1), (22, 3), (43, 1), (56, 3), (73, 3), (94, 2)]

In [13]:
# 11. Напишите запрос для определения количества предметов, изучаемых на каждом курсе.

s = """
select round(semester/2.0), count(subj_id)
    from subject
    group by round(semester/2.0);
"""
result=crs.execute(s).fetchall()
print(len(result))
result

3

[(1.0, 6), (2.0, 5), (3.0, 1)]

In [19]:
#12. Для каждого университета напишите запрос, выводящий суммарную стипендию обучающихся в нем студентов, 
# с последующей сортировкой списка по этому значению.

s = """
select univ_id, sum(stipend) as Sum_of_stipend
    from student
    group by univ_id
    order by Sum_of_stipend asc;
"""
result=crs.execute(s).fetchall()
print(len(result))
result

12

[(15, 350),
 (11, 400),
 (45, 650),
 (48, 800),
 (18, 850),
 (32, 1050),
 (47, 1050),
 (46, 1250),
 (14, 1350),
 (22, 1480),
 (44, 1730),
 (10, 2250)]

In [21]:
'''13. Для каждого семестра напишите запрос, выводящий общее количество часов, 
отводимое на изучение соответствующих предметов.'''

s = """
SELECT subj_name, semester, hour
FROM subject
ORDER BY subj_name
"""
result=crs.execute(s).fetchall()
print(len(result))
result

12

[('Анализ данных', 1, 42),
 ('Английский язык', 3, 56),
 ('Информатика', 1, 56),
 ('История', 4, 34),
 ('Математика', 2, 56),
 ('ОБЖ', 2, 34),
 ('Обработка данных и моделирование в Excel', 3, 36),
 ('Программирование на языках Python и SQL', 2, 34),
 ('Теория вероятностей и математическая статистика', 4, 72),
 ('Физика', 1, 34),
 ('Физкультура', 4, 32),
 ('Физкультура', 5, 34)]

In [15]:
'''14. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им на всех экзаменах.'''
s = """
SELECT student_id, AVG(mark)
FROM exam_marks
GROUP BY student_id
"""
result=crs.execute(s).fetchall()
print(len(result))
result

35

[(1, 1.0),
 (6, 4.0),
 (10, 5.0),
 (12, 3.5),
 (15, 5.0),
 (32, 4.0),
 (55, 5.0),
 (62, 4.0),
 (64, 4.0),
 (65, 1.0),
 (71, 3.0),
 (73, 1.0),
 (76, 2.0),
 (77, 1.0),
 (79, 1.0),
 (82, 5.0),
 (83, 1.0),
 (85, 2.5),
 (88, 5.0),
 (90, 4.0),
 (91, 5.0),
 (92, 5.0),
 (97, 1.0),
 (99, 5.0),
 (101, 2.0),
 (103, 2.0),
 (105, 3.0),
 (110, 1.0),
 (116, 1.0),
 (117, 4.0),
 (123, 2.0),
 (126, 1.0),
 (128, 4.0),
 (149, 2.0),
 (203, 3.0)]

In [23]:
'''15. Для каждого студента напишите запрос, выводящий среднее значение оценок, полученных им по каждому предмету.
'''
s = """
SELECT student.surname, student.name, subject.subj_name, AVG(exam_marks.mark)
FROM exam_marks join student join subject
ON (exam_marks.student_id = student.student_id and subject.subj_id = exam_marks.subj_id)

GROUP BY exam_marks.student_id
"""
result=crs.execute(s).fetchall()
print(len(result))
result

34

[('Иванов', 'Иван', 'Математика', 1.0),
 ('Сидоров', 'Вадим', 'Физика', 4.0),
 ('Кузнецов', 'Борис', 'Анализ данных', 5.0),
 ('Зайцева', 'Ольга', 'Информатика', 3.5),
 ('Котов', 'Павел', 'Информатика', 4.0),
 ('Белкин', 'Вадим', 'Информатика', 5.0),
 ('Семенова', 'Вероника', 'Английский язык', 4.0),
 ('Жук', 'Оксана', 'Физкультура', 4.0),
 ('Сергеева', 'Фёкла', 'Физкультура', 1.0),
 ('Кондрат', 'Синицин', 'Информатика', 3.0),
 ('Одинцова', 'Лидия', 'Программирование на языках Python и SQL', 1.0),
 ('Мельникова', 'Дарья', 'История', 2.0),
 ('Мишина', 'Светлана', 'Анализ данных', 1.0),
 ('Афанасьева', 'Анжелика', 'Анализ данных', 1.0),
 ('Лапина', 'Элеонора', 'История', 5.0),
 ('Сорокина', 'Ирина', 'Физика', 1.0),
 ('Казакова', 'Мария', 'Физкультура', 2.5),
 ('Жданова', 'Ирина', 'История', 5.0),
 ('Костина', 'Кира', 'Физика', 4.0),
 ('Блохина', 'Ираида', 'Физика', 5.0),
 ('Мельникова', 'Светлана', 'Информатика', 5.0),
 ('Вишнякова', 'Анжела', 'Информатика', 1.0),
 ('Борисова', 'Марина', 'Английский язык', 5.0),
 ('Калашников', 'Евгений', 'Английский язык', 2.0),
 ('Трофимов', 'Владислав', 'Физика', 2.0),
 ('Антонов', 'Анатолий', 'Информатика', 3.0),
 ('Суханов', 'Константин', 'Физика', 1.0),
 ('Федоров', 'Гостомысл', 'Анализ данных', 1.0),
 ('Лазарев', 'Константин', 'История', 4.0),
 ('Веселов', 'Тимур', 'История', 2.0),
 ('Жуков', 'Пров', 'История', 1.0),
 ('Васильев', 'Матвей', 'Физкультура', 4.0),
 ('Вячеслав', 'Пахомов', 'ОБЖ', 2.0),
 ('Петрова', 'Екатерина', 'Математика', 3.0)]

In [43]:
'''16. Напишите запрос, выводящий количество студентов, проживающих в каждом городе. 
Список отсортировать в порядке убывания количества студентов.'''
s = """
SELECT city, count(city)
FROM student
GROUP BY city
ORDER BY count(city) DESC
"""
result=crs.execute(s).fetchall()
print(len(result))
result

69

[('Улан-Удэ', 3),
 ('Орел', 3),
 ('Москва', 3),
 ('Курск', 3),
 ('Воронеж', 3),
 ('Новый Уренгой', 2),
 ('Мурманск', 2),
 ('Магадан', 2),
 ('Липецк', 2),
 ('Кропоткин (Краснод.)', 2),
 ('Иркутск', 2),
 ('Джубга', 2),
 ('Брянск', 2),
 ('Белгород', 2),
 ('Чебоксары', 1),
 ('Ханты-Мансийск', 1),
 ('Уфа', 1),
 ('Устюжна', 1),
 ('Усть-Кут', 1),
 ('Усть-Джегута', 1),
 ('Усмань', 1),
 ('Усинск', 1),
 ('Ульяновск', 1),
 ('Тимашевск', 1),
 ('Тверь', 1),
 ('Сыктывкар', 1),
 ('Сургут (Хант.)', 1),
 ('Славянск-на-Кубани', 1),
 ('Саянск', 1),
 ('Рыльск', 1),
 ('Рубцовск', 1),
 ('Ростов', 1),
 ('Рославль', 1),
 ('Пятигорск', 1),
 ('Новосибирск', 1),
 ('Нижний Новгород', 1),
 ('Нижневартовск', 1),
 ('Нерчинск', 1),
 ('Невинномысск', 1),
 ('Невельск (Сахалин)', 1),
 ('Нальчик', 1),
 ('Кыштым', 1),
 ('Курганинск', 1),
 ('Корсаков', 1),
 ('Колпашево', 1),
 ('Кисловодск', 1),
 ('Кизилюрт', 1),
 ('Кемерово', 1),
 ('Камень-на-Оби', 1),
 ('Калининград', 1),
 ('Ишим', 1),
 ('Игарка', 1),
 ('Иваново', 1),
 ('Жуковский', 1),
 ('Енисейск', 1),
 ('Грозный', 1),
 ('Геленджик', 1),
 ('Воркута', 1),
 ('Волоколамск', 1),
 ('Вологда', 1),
 ('Волгоград', 1),
 ('Владикавказ', 1),
 ('Верхоянск', 1),
 ('Верхний Баскунчак', 1),
 ('Беломорск', 1),
 ('Байкальск', 1),
 ('Архангельск', 1),
 ('Ангарск', 1),
 (None, 0)]

In [56]:
'''17. Для каждого университета напишите запрос,
выводящий количество обучающихся в нем студентов, с последующей сортировкой списка по этому количеству.'''
s = """
SELECT count(student.univ_id), university.univ_name
FROM student join university
ON (student.univ_id = university.univ_id)
GROUP BY student.univ_id
ORDER BY count(student.univ_id) DESC
"""
result=crs.execute(s).fetchall()
print(len(result))
result

12

[(16, 'ВГУ'),
 (10, 'ФинУ'),
 (10, 'МГУ'),
 (9, 'ФГБОУ "Политех"'),
 (9, 'БГУ'),
 (7, 'РГУ'),
 (6, 'КФУ'),
 (6, 'ВГМА'),
 (5, 'УЛГУ'),
 (5, 'МГТУ им. Баумана'),
 (4, 'НГУ'),
 (2, 'ТГУ')]

In [58]:
'''18. Для каждого университета напишите запрос, выводящий количество работающих в нем преподавателей,
с последующей сортировкой списка по этому количеству.'''
s = """
SELECT count(lecturer.univ_id), university.univ_name
FROM lecturer join university
ON (lecturer.univ_id = university.univ_id)
GROUP BY lecturer.univ_id
ORDER BY count(lecturer.univ_id) DESC
"""
result=crs.execute(s).fetchall()
print(len(result))
result

10

[(8, 'ВГУ'),
 (5, 'ВГМА'),
 (3, 'УЛГУ'),
 (3, 'ФГБОУ "Политех"'),
 (2, 'КФУ'),
 (2, 'РГУ'),
 (2, 'МГУ'),
 (2, 'ТГУ'),
 (1, 'МГТУ им. Баумана'),
 (1, 'НГУ')]

In [61]:
'''19. Для каждого университета напишите запрос, выводящий сумму стипендии, выплачиваемой студентам каждого курса.'''
s = """
SELECT sum(student.stipend) * count(student.student_id) , university.univ_name
FROM student join university
ON (student.univ_id = university.univ_id)
GROUP BY student.univ_id 
ORDER BY count(student.stipend) DESC
"""
result=crs.execute(s).fetchall()
print(len(result))
result

12

[(36000, 'ВГУ'),
 (17300, 'ФинУ'),
 (14800, 'МГУ'),
 (11250, 'ФГБОУ "Политех"'),
 (12150, 'БГУ'),
 (7350, 'РГУ'),
 (6300, 'КФУ'),
 (5100, 'ВГМА'),
 (4000, 'УЛГУ'),
 (3250, 'МГТУ им. Баумана'),
 (1600, 'НГУ'),
 (700, 'ТГУ')]

In [66]:
'''20. Для каждого города напишите запрос, выводящий максимальный рейтинг университетов, в нем расположенных,
с последующей сортировкой списка по значениям рейтингов.'''
s = """
SELECT university.city, max(university.rating), university.univ_name
FROM university
GROUP BY university.city 
ORDER BY count(university.rating) DESC
"""
result=crs.execute(s).fetchall()
print(len(result))
result

9

[('Москва', 606, 'МГУ'),
 ('Воронеж', 327, 'ВГМА'),
 ('Ульяновск', 231, 'УЛГУ'),
 ('Томск', 368, 'ТГУ'),
 ('Санкт-Петербург', 300, 'ФГБОУ "Политех"'),
 ('Ростов', 416, 'РГУ'),
 ('Новосибирск', 345, 'НГУ'),
 ('Казань', 330, 'КФУ'),
 ('Белгород', 326, 'БГУ')]

In [70]:
'''21. Для каждого дня сдачи экзаменов напишите запрос, выводящий среднее значение всех экзаменационных оценок.'''
s = """
SELECT exam_marks.exam_date, AVG(mark)
FROM exam_marks
GROUP BY exam_date 
"""
result=crs.execute(s).fetchall()
print(len(result))
result

19

[('2000-01-18 00:00:00.000000', 4.0),
 ('2000-01-23 00:00:00.000000', 4.5),
 ('2006-05-12 00:00:00.000000', 2.0),
 ('2006-06-17 00:00:00.000000', 5.0),
 ('2019-05-26 00:00:00.000000', 2.0),
 ('2019-05-29 00:00:00.000000', 3.0),
 ('2019-09-02 00:00:00.000000', 5.0),
 ('2019-12-25 00:00:00.000000', 1.0),
 ('2019-12-31 00:00:00.000000', 3.0),
 ('2020-02-10 00:00:00.000000', 2.0),
 ('2020-02-21 00:00:00.000000', 3.0),
 ('2020-02-22 00:00:00.000000', 5.0),
 ('2020-05-26 00:00:00.000000', 2.5714285714285716),
 ('2020-05-27 00:00:00.000000', 2.0),
 ('2020-08-18 00:00:00.000000', 1.0),
 ('2020-09-21 00:00:00.000000', 5.0),
 ('2020-10-24 00:00:00.000000', 1.0),
 ('2020-12-03 00:00:00.000000', 5.0),
 ('2021-06-02 00:00:00.000000', 2.4)]

In [75]:
'''22. Для каждого дня сдачи экзаменов напишите запрос, выводящий общее количество студентов, сдававших экзамены.'''
s = """
SELECT exam_date, count(student_id)
FROM exam_marks
WHERE mark >= 3
GROUP BY exam_date
"""
result=crs.execute(s).fetchall()
result

[('2000-01-18 00:00:00.000000', 1),
 ('2000-01-23 00:00:00.000000', 2),
 ('2006-06-17 00:00:00.000000', 1),
 ('2019-05-29 00:00:00.000000', 4),
 ('2019-09-02 00:00:00.000000', 1),
 ('2019-12-31 00:00:00.000000', 1),
 ('2020-02-21 00:00:00.000000', 2),
 ('2020-02-22 00:00:00.000000', 1),
 ('2020-05-26 00:00:00.000000', 4),
 ('2020-09-21 00:00:00.000000', 1),
 ('2020-12-03 00:00:00.000000', 1),
 ('2021-06-02 00:00:00.000000', 2)]

In [77]:
'''24. Для каждого преподавателя напишите запрос,
выводящий количество преподаваемых им предметов.'''

s = """
SELECT lecturer.surname, lecturer.name, count(subj_lect.subj_id)
FROM lecturer join subj_lect
ON (lecturer.lecturer_id = subj_lect.lecturer_id)
GROUP BY lecturer.name
"""
result=crs.execute(s).fetchall()
result

[('Мамонтова', 'Акулина', 1),
 ('Кудрявцева', 'Анна', 1),
 ('Колесников', 'Борис', 1),
 ('Алексеев', 'Елисей', 1),
 ('Никонов', 'Иван', 1),
 ('Максимова', 'Иванна', 2),
 ('Куликова', 'Ираида', 2),
 ('Тихонов', 'Ладомир', 1),
 ('Сафонова', 'Лукия', 1),
 ('Беляков', 'Мефодий', 1),
 ('Волков', 'Михаил', 2),
 ('Струков', 'Николай', 2),
 ('Брагина', 'Нинель', 1),
 ('Лагутин', 'Павел', 1),
 ('Дорофеев', 'Прокофий', 1),
 ('Зимин', 'Юлиан', 3),
 ('Зайцева', 'Юлия', 2)]

In [73]:
'''25. Напишите запрос, выполняющий вывод списка студентов, имеющих только отличные оценки. 
Результат отстортируйте по идентификатору студента.'''
s = """
SELECT student_id, AVG(mark)
FROM exam_marks
WHERE mark = 5
GROUP BY student_id
"""
result=crs.execute(s).fetchall()
result

[(10, 5.0),
 (12, 5.0),
 (15, 5.0),
 (55, 5.0),
 (82, 5.0),
 (88, 5.0),
 (91, 5.0),
 (92, 5.0),
 (99, 5.0),
 (128, 5.0)]